:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #161616;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  --primary-color: #e5e5e5;
  --secondary-color: #777777;
  --active-color: #fca311;
  --bg-color: #161616;
  --active-bg-color: #593700;
  --active-hover-bg-color: #804f01;
  --shadow-color: #333;
  --light-color: #e5e5e5;
}

*,
html,
body {
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

input {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: none;
  padding: 8px;
  border-radius: 0;
}
input:focus {
  outline: 0;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}
button:hover.primary.disabled {
  color: var(--primary-color);
}
button:active.primary.disabled {
  transform: scale(1);
  color: var(--primary-color);
  background-color: var(--shadow-color);
}
.debug {
  border: 1px dashed red;
}

button {
  appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

button.primary {
  width: 92%;
  background-color: var(--shadow-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 12px auto;
  font-size: 0.9rem;
  transition-property: background-color, color;
  transition-duration: 100ms;
  border: 1px solid var(--shadow-color);
  box-shadow: 0 2px 25px var(--bg-color);
}
button:hover.primary {
  color: var(--active-color);
}
button:active.primary {
  transform: scale(0.9);
  color: var(--primary-color);
  background-color: var(--bg-color);
}

main {
  padding: 16px;
  display: flex;
  gap: 8px;
  height: 100vh;
  flex-direction: row;
}

section {
  border: 1px solid var(--secondary-color);
  height: calc(100vh - 32px);
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

aside {
  display: flex;
  position: relative;
  height: calc(100vh - 32px);
  padding: 12px 0;
}
aside ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  width: 100%;
}
aside ul li {
  color: var(--primary-color);
  stroke: var(--primary-color);
  display: flex;
  gap: 8px;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 8px;
}
aside ul li span {
  display: none;
}
aside ul li:hover {
  cursor: pointer;
}
aside ul li.item:hover > * {
  color: var(--active-color);
  stroke: var(--active-color);
}
aside ul li:hover.active {
  cursor: default;
  color: var(--active-color);
}
aside ul li:hover.active > * {
  color: var(--primary-color);
  stroke: var(--primary-color);
}
aside button#close {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 150ms;
}
aside button#close:hover {
  opacity: 1;
}
aside.expanded button#close {
  display: block;
}
aside.expanded ul li span {
  display: block;
}
aside {
  width: 42px;
}
aside.expanded {
  width: 255px;
  padding-right: 12px;
}
aside ul li.folder {
  display: none;
  flex-grow: 1;
}
aside.expanded ul li.folder {
  display: block;
}
aside .search {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #777;
  padding-bottom: 4px;
}
aside .search input {
  background: none;
  width: 100%;
}
aside .folder ul {
  padding: 16px 8px;
}
aside ul#files li {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-shadow: 2px 1px 12px var(--shadow-color);
}
aside .folder li:hover {
  color: var(--active-color);
}
aside .folder li.selected:hover {
  color: var(--primary-color);
}
aside .folder li.selected {
  padding: 4px 12px 7px 12px;
  border: 1px solid var(--active-color);
  background-color: var(--active-bg-color);
}

#toolbar {
  display: flex;
  justify-content: space-between;
}
#toolbar ul {
  display: flex;
  list-style: none;
  gap: 24px;
}
#toolbar ul li {
  display: flex;
  color: var(--primary-color);
  stroke: var(--primary-color);
  gap: 12px;
  cursor: pointer;
  transition-property: stroke, color;
  transition-duration: 100ms;
}
#toolbar ul li:hover {
  stroke: var(--active-color);
  color: var(--active-color);
}

.previews {
  display: flex;
  gap: 12px;
  height: calc(1 / 3 * 100%);
}
.previewer {
  flex: 1;
  cursor: pointer;
  border: 1px solid var(--light-color);
  border-radius: 5px;
  position: relative;
  transition-property: border-color;
  transition-duration: 150ms;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 150ms;
}
.previewer.loaded {
  opacity: 1;
}
.previewer canvas {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}
.previewer.active {
  border-color: var(--active-color);
  outline: 2px solid var(--active-color);
}
.previewer ul.controls {
  position: absolute;
  z-index: 2;
  height: 24px;
  width: calc(100% - 48px);
  bottom: 24px;
  list-style: none;
  display: flex;
  left: 24px;
  font-size: 0.8rem;
  gap: 12px;
}
.previewer ul.controls li {
  display: flex;
  align-items: center;
}
.previewer ul.controls li.frame {
  flex: 1;
  border: 1px solid var(--light-color);
  padding-left: 8px;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
}
.previewer ul.controls li.frame .type {
  color: var(--secondary-color);
}
.previewer ul.controls li.button {
  width: 24px;
  border: 1px solid var(--light-color);
  fill: var(--primary-color);
  justify-content: center;
  transition-property: border-color, fill;
  transition-duration: 150ms;
}
.previewer.active ul.controls li:hover.button {
  fill: var(--active-color);
  border-color: var(--active-color);
  outline: 1px solid var(--active-color);
}
.previewer.active ul.controls li:active.button {
  transform: scale(0.9);
  color: var(--primary-color);
  fill: var(--primary-color);
  background-color: var(--bg-color);
  border: 1px solid var(--light-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s;
}
.overlay.visible {
  opacity: 1;
  visibility: visible;
  cursor: wait;
  z-index: 999;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 40px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bubbly-button {
  display: inline-block;
  appearance: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);

  width: 90%;
  padding: 8px;
  margin: 12px auto;
  font-size: 0.9rem;
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

sidebar-component,
previewer-component,
toolbar-component {
  display: contents;
}

canvas {
  background: transparent;
}
